# Python/venv
.venv/
.env
.fle/
__pycache__/
*.pyc
uv.lock

# IDE/editor
.idea/
.vscode/
.DS_Store

# Build/dist
/dist

# Docker
/fle/cluster/local/docker-compose.yml

# Misc
trajectory_logs/
**/.claude/settings.local.json
*.mp4
*.jsonl
*.db

#fle
.fle/
/fle/eval/open/plots/
/fle/agents/data/blueprints_to_policies/blueprints/decoded/
/fle/agents/data/blueprints_to_policies/blueprints/mining/
/fle/agents/data/blueprints_to_policies/blueprints/electricity/
/fle/agents/data/blueprints_to_policies/blueprints/manufacturing/
/fle/agents/data/blueprints_to_policies/blueprints/misc/
/fle/agents/data/blueprints_to_policies/blueprints/
/fle/agents/data/encoded/
/fle/agents/data/full/
/fle/agents/data/place_next_to_connect/
/fle/agents/data/refactor/
/fle/agents/data/refactor2/
/fle/agents/data/plans/factorio_guides/processed/
/fle/agents/data/plans/factorio_guides/raw/
/fle/agents/data/plans/factorio_guides/visited/
/fle/agents/data/icons/
/fle/agents/data/screenshots
/fle/eval/open/.neptune/
/fle/eval/open/.neptune/
/fle/eval/open/plots/icons/
/fle/eval/open/plots/production_volumes/
/fle/eval/open/plots/icons/
/fle/eval/open/plots/viz_cache.pkl
/fle/eval/open/plots/viz_cache2.pkl
/fle/eval/algorithms/mcts/runs/
/fle/eval/algorithms/mcts/independent_runs/summary_cache/
/fle/eval/algorithms/beam/summary_cache/
/fle/eval/open/plots/