# Python/venv
.venv/
.env
.fle/
__pycache__/
*.pyc
uv.lock

# IDE/editor
.idea/
.vscode/
.DS_Store

# Build/dist
/dist

# Docker
/fle/cluster/local/docker-compose.yml

# Misc
trajectory_logs/
**/.claude/settings.local.json
*.mp4
*.jsonl
*.db
/log/

#fle
.fle/

# Jack's stuff.
/docker-compose.yml
/data/plans/factorio_guides/
/docs/assets/videos/
/fle/agents/data/blueprints_to_policies/blueprints/
/fle/eval/open/plots/technology_icons/
/data/icons/
/eval/open/plots/
